p{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}
img {
    cursor: pointer;
    
}
.vid-prev{
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    
}

.ser-bar{
    display: block;
}
.img-ere, .img-cr{
    display: inline-block;
    width: 300px;
}
.thumbnail-row {
    margin-bottom: 13px;
}
.vid-dp{
display: inline-block;
   width: 50px;
   vertical-align: top;
   margin-right: 15px;
}
.channel-dp{
 
    border-radius: 40px;
    width: 100%;
}
.vid-title{
    margin-top: 0px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
    cursor: pointer;
}
.link-color{
    color: black;
    text-decoration: none;
}
.author-1, .stats-1{
    font-size: 12px;
    color: #606060;
    
}
.author-1{
    margin-bottom: 4px;
}
.vid-info{
    display: inline-block;
    width: 200px;
    
  
}