.sub-btn1{
    background-color: rgb(198, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
   }
   .join-btn2{
    background-color: white;
    color: rgb(4, 4, 179);
    height: 36px;
    width: 62px;
    cursor: pointer;
    border-radius: 2px;
    border-color: rgb(4, 4, 179);
    border-style: solid;
    margin-right: 8px;
   }
   .tweet-btn3{
    background-color: rgb(85, 85, 227);
    border-color: rgb(85, 85, 201);
    border: none;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    width: 74px;
   }
   .img_elgato{
   margin-top: 100px;
   width: 300px;
   }